<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Block hash - Johnny's Bitcoin Block Explorer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- load bootstrap css -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->

    <link rel="stylesheet" href="/style.css">



    <style>
    </style>
</head>






<body>

    <!-- navbar -->
    <nav class="navbar navbar-light" style="background-color: #072A41;">
        <div class="container w-75">
            <div class="col-3 whitetextnavbar">
                <a class="navbar-brand" href="/"><span class="fa fa-bitcoin"></span><b><span class="whitetextnavbar2">lock
                            Explorer
                        </span>
                    </b></a>
            </div>
            <div class="col-2 whitetextnavbar">
                <span class="fa fa-dollar"></span> <a href="/price"><%= price.toFixed(2) %></a>
            </div>
            <div class="col-2 whitetextnavbar">
                <span class="fa fa-user"></span> <a href="#"></span> Profile</a>
            </div>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search the blockchain" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit"><span class="fa fa-search"></span> </button>
                </div>
            </div>
        </div>
    </nav>



    <div class="container">

        <!-- title of main content -->
        <div class="row mt-4">
            <div class="mx-auto">
                <h4 class="mainheader">Block hash</h4>
            </div>
        </div>

        <div class="mx-auto" id="maindiv">


            <table class="table table-bordered table-striped table-hover table-sm table-dark w-100 mx-auto">

                <!-- title bar of tables -->
                <thead class="thead-light">
                    <tr>
                        <th class="tableHeader" colspan='2'>
                            <%= blockHashInfo.hash %>
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <th style="width: 33%">
                            Confirmations
                        </th>
                        <td>
                            <%= blockHashInfo.confirmations %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Date mined
                        </th>
                        <td>
                            <%= blockHashInfo.time %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Size
                        </th>
                        <td>
                            <%= blockHashInfo.size %> MB
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Height
                        </th>
                        <td>
                            <%= blockHashInfo.height %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Weight
                        </th>
                        <td>
                            <%= blockHashInfo.weight %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Nonce
                        </th>
                        <td>
                            <%= blockHashInfo.nonce %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Target threshold (bits)
                        </th>
                        <td>
                            <%= blockHashInfo.bits %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Difficulty
                        </th>
                        <td>
                            <%= blockHashInfo.difficulty %>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Previous block hash
                        </th>
                        <td>
                            <a href="/blockhash/<%= blockHashInfo.previousblockhash %>/0">
                                <%= blockHashInfo.previousblockhash %> </a>
                        </td>
                    </tr>

                    <tr>
                        <th style="width: 33%">
                            Next block hash
                        </th>
                        <td>
                            <% if (blockHashInfo.nextblockhash) { %>
                                <a href="/blockhash/<%= blockHashInfo.nextblockhash %>/0">
                                    <%= blockHashInfo.nextblockhash %></a>
                                <% } else { %>
                                    This is the most recent block
                                    <% } %>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>


        <!-- title of main content -->
        <div class="row mt-4">
            <div class="mx-auto">
                <h4 class="mainheader">Transactions</h4>
            </div>
        </div>

        <div class="mx-auto" id="maindiv">


            <table class="table table-bordered table-striped table-hover table-sm table-dark w-100 mx-auto">

                <!-- title bar of tables -->
                <thead class="thead-light">
                    <% var string = "/blockhash/" + blockHashInfo.hash + "/" + (numberOfTxns[1] - numberOfTxns[1]); %>
                        <th class="tableHeader" colspan='2'>
                            <div class="float-left">
                                <% if (numberOfTxns[0] != 0) { %>
                                    <a href="<%= string %>"><span class="fa fa-arrow-circle-left"></span> prev 20</a>
                                    <%  } else { %>
                                        prev 20

                                        <% }%>

                            </div>

                            <% var string = "/blockhash/" + blockHashInfo.hash + "/" + numberOfTxns[1]; %>
                                <%= numberOfTxns[0]%>-
                                    <%= numberOfTxns[1] %>
                                        <div class="float-right">
                                            <a href="<%= string %>">next 20 <span class="fa fa-arrow-circle-right"></span></a>
                                        </div>
                        </th>
                        </tr>
                </thead>

                <tbody>

                    <% for (var i = numberOfTxns[0]; i < numberOfTxns[1]; i++) { %>
                        <tr>
                            <th style="width: 33%">
                                Transaction ID
                            </th>
                            <td>
                                <a href="/transactionid/<%= blockHashInfo.tx[i] %>"><%= blockHashInfo.tx[i] %></a>
                            </td>
                        </tr>
                        <% } %>





                </tbody>
            </table>

        </div>



    </div>








    <!--- Footer -->
    <footer class="site-footer page-footer fixed-bottom font-small pt-2">
        <div class="container-fluid col-7 col-md-3 text-center">
            <div class="row">
                <div class="col-4">
                    <a id="footerHome" href="/">Home</a>
                </div>
                <div class="col-4">
                    <a id="footerSignup" href="/profile">Profile</a>
                </div>
                <div class="col-4">
                    <a id="footerLogin" href="/verifymessage" data-toggle="modal" data-target="#login">Verify</a>
                </div>
            </div>
        </div>
    </footer>






</body>

</html>